
<h1>Welcome to the Movie Database</h1>

<h2>Movie List</h2>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th ng-click="orderTitle()">Title</th>
            <th ng-click="orderReleaseYear()">Release Year</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="movie in movies | orderBy:column:order">
            <td>
                <a href="#" ng-href="/movies/{{movie.id}}">
                    {{ movie.title }}
                </a>
            </td>
            <td>
                {{movie.releaseYear}}
            </td>
        </tr>
    </tbody>
</table>
