<h2>{{movie.title}}</h2>

<dl class="dl-horizontal">
  <dt>Description</dt>
  <dd>{{movie.description}}</dd>
  <dt>Release Year</dt>
  <dd>{{movie.releaseYear}}</dd>
</dl>

<a href="/movies/{{movie.id}}/edit" title="Edit movie" class="btn">
    Edit
</a>

<button ng-click="delete()" title="Delete movie" class="btn btn-danger">
    Delete
</button>


<iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.55a4019ea66c5d005a6e6d9d41c5e068.en.html" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 95px; height: 20px;">
</iframe>